* {
   
    margin: 0;
    
    
    
   
}



.webpage-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
   

}

.header-container {
    display: flex;
    background-color: #1f2937;
    height: 100px;
 
    

}

.timblr-text {
   
    margin-top: 20px;
    font-size: 48px;
    font-weight: bolder;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    color: #f9faf8;
}


.link-container {
    flex: 1;
    display: flex;
    gap: 1em;
    height: 25px;
    font-size: 18px;
    min-width: 0;
    padding: 0;
    

}

.upper-container {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #1f2937;
    display: flex;
    height: fit-content
    
    
  
}

.left-item-container {
    display: flex;
    width: auto

}


.first-text {
    height: fit-content;
    font-weight: bolder;
    font-size: 28px;
    color: #e5e7eb;
    margin-top: 0px;
    margin-left: 20px;
    width: fit-content
    
}

.second-text {
    height: fit-content;
    font-weight: bolder;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    margin-left: 40px;
    width: fit-content
}

.tree-button {
    display: flex;
    color: #e5e7eb;
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
    
}

.main-image-container {
    display: flex;
    flex: 1;
    margin-left: 400px;
    
}


.first-image {
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 0px;
    

}

.second-container {
    flex-direction: column;
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;

}

.mid-text-container {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-bottom: 10px;
    
}

.mid-text-one {
   
    font-style: italic;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.mid-text-two {
    align-self: flex-end;
    margin-right: 20px;
}

.mid-image-container {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 900px
    
  
}

.mid-image-one {
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    border: solid #3882f6;
    border-radius: 10px;
}

.mid-image-two {
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    border: solid #3882f6;
    border-radius: 10px;
}

.mid-image-three {
    display: flex;
    width: 188px;
    height: 200px;
    margin-left: 0px;
    border: solid #3882f6;
    border-radius: 10px;
}

.mid-image-four {
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    border: solid #3882f6;
    border-radius: 10px;
}

.mid-image-text-container {
    gap: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 50px;
    width: 900px;
    
}

.third-container {
    flex-direction: column;
    background-color:#e5e7eb ;
    display: flex;
    height: 350px;
    width: auto;
    justify-content: center;
    align-content: center;
}

.quote-2 {
    font-style: italic;
    font-size: 38px;
    height: fit-content;
    align-self: center;
}

.quote-3 {
    font-size: 24px;
    height: fit-content;
    align-self: center;
    margin-left: 70px;
    margin-top: 80px;
}

.fourth-container {
    display: flex;
    height: 400px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.blue-box {
    display: flex;
   
    height: 90px;
    background-color: #3882f6;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    width: 1100px;
    

}

.left-items-blue-box {

margin-right: 200px;
margin-left: 150px;

}

.blue-box-text {
    margin-top: 30px;
    text-align: center;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 25px;
   
}

.blue-box-text-2 {
    color: #f9faf8;
    font-weight: bolder;
    height: fit-content;
    width: fit-content;
    font-size: 10px;

}
.sign-up-button {
    margin-left: 110px;
    font-size: 29px;
    display: flex;
    color: #e5e7eb;
    background-color: #3882f6;

    border-color: #e5e7eb;
    border-radius: 7px;

}

.footer {
    display: flex;
    height: 100px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.footer-text {
height: fit-content;
color: #f9faf8;
font-size: 20px;

}
a {
    text-decoration: none;
    color: #e5e7eb
}